<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>

        <div class="row">
            <div class="col-md-4 offset-4 text-center">
                <form action="/login" method="POST">
                    <% if (errorMessage) { %>
                        <div class="col-md-8 offset-2 text-center mt-2">
                            <div class="bg-danger text-white">
                                <%= errorMessage %>
                            </div>
                        </div>
                    <% } %>
                    <div class="col-md-8 offset-2 text-center mt-2">
                        <label for="email">E-Mail</label>
                        <input 
                            class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                            type="email" 
                            name="email" 
                            id="email" 
                            value="<%= oldInput.email %>">
                    </div>
                    <div class="col-md-8 offset-2 text-center mt-2">
                        <label for="password">Password</label>
                        <input 
                            class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                            type="password" 
                            name="password" 
                            id="password" 
                            value="<%= oldInput.password %>">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="col-md-8 offset-2 text-center mt-2">
                        <button class="btn btn-info" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-4 text-center mt-2">
                <ul class="col-md-8 offset-2 text-center">
                    <a href="/signup">Sign Up</a>
                </ul>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>