<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <label>Welcome, <b> <%- email %></b></label>
                <br/>
                <label>Your Address is <b><%- Address %></b></label> 
            </main>
            <%- include('../includes/end.ejs') %>